<html>
  <head>
    <link rel="stylesheet" type="text/css" href="file:///C:/Users/Dell/Desktop/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="file:///C:/Users/Dell/Desktop/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  </head>
<br>
<table class="All" align="center">
<div class="A">
  Convert Your Currency
</div>
<br><br>
<div class="Container">
<div>
Enter Amount : <br><br>
<input [(ngModel)]="money" type="text" class="btn btn-dark" placeholder="Enter Amount in (₹)"><br><br>
<select [(ngModel)]="projecttext1" class="btn btn-primary">
<option>Select Country</option>
<option>India(INR)</option>
<option>Afganistan(AFN)</option>
<option>Algeria(DZD)</option>
<option>Argentina(ARS)</option>
<option>Armenia(AMD)</option>
<option>Australia(AUD)</option>
<option>Bangladesh(BDT)</option>
<option>Brazil(BRL)</option>
<option>Canada(CAD)</option>
<option>China(CNY)</option>
<option>Colombia(COP)</option>
<option>Cuba(CUP)</option>
<option>Denmark(DKK)</option>
<option>Egypt(EGP)</option>
<option>Honkong(HKD)</option>
<option>Iran(IRR)</option>
<option>Iraq(IQD)</option>
</select>
<br><br>
<button class="btn btn-outline-info" (click)="swap()">
  <span class="spinner-border spinner-border-sm"></span>
  Swap
</button><br><br>
<select [(ngModel)]="projecttext2" class="btn btn-primary">
  <option>Select Country</option>
  <option>India(INR)</option>
  <option>Afganistan(AFN)</option>
  <option>Algeria(DZD)</option>
  <option>Argentina(ARS)</option>
  <option>Armenia(AMD)</option>
  <option>Australia(AUD)</option>
  <option>Bangladesh(BDT)</option>
  <option>Brazil(BRL)</option>
  <option>Canada(CAD)</option>
  <option>China(CNY)</option>
  <option>Colombia(COP)</option>
  <option>Cuba(CUP)</option>
  <option>Denmark(DKK)</option>
  <option>Egypt(EGP)</option>
  <option>Honkong(HKD)</option>
  <option>Iran(IRR)</option>
  <option>Iraq(IQD)</option>
  </select>
<br><br>
<button class="btn btn-danger" (click)="calculate()">Convert</button>
&nbsp;&nbsp;&nbsp;
<button type="Reset" class="btn btn-success" value="Reset" (click)="Reset()">Reset</button>
<br><br>
</div>
</div>
</table>
<br>
<p style="text-align: center;">
<button class="btn btn-warning">{{money}} {{name1}} = {{total}} {{name2}}</button>
</p>
<br><br><br>
<p  style="text-align: center;" class="Vipin">
<button class="btn btn-primary" title="See Profile" onclick="window.location.href ='https://github.com/vipin00147';">@Made by Vipin</button>
</p>
</html>